* {
  margin: 0;
  padding: 0;
}

#world {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(#f1dba5, #f9c36d);
}

#wather {
  position: relative;
  right: 60% auto;
  top: 20% auto;
  /* width: 240px; */
}

html {
  font-family: "Avenir Next", monospace, Helevetica, sans-serif;
  text-align: center;
}

body {
  margin: 5 auto;
}

h1,
h2 {
  font-weight: 400;
}
